body {
    font-family: 'Raleway' , sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 50px 50px 1fr 100px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .sidebar {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,6,154,1) 100%);
    color: rgb(236, 236, 235);
    top: 0;
    bottom: 0;
    left: 0;
    grid-column: 1/2;
    grid-row: 1/end;
  }

  .sidebar h1 {
    display: inline-block;
    position: fixed;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 12em;
  }

  .sidebar p,
   .sidebar ul {
    display: inline-block;
    position: fixed;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
  }

  .sidebar p {
    margin-top: 25em;
  }

  .sidebar ul {
    margin-top: 27em;
  }

  .sidebar img {
    display: inline-block;
    position: fixed;
    left: 1em;
    top: 1em;
    border-radius: 50%;
    width: 15rem;
  }

  header {
    box-shadow: 0 0 0.8em 0em black;
    background-color: white;
    padding: 1em;
    top: 0;
    right: 0;
    display: grid;
    grid-auto-flow: column;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 2em;
    position: sticky;
    grid-column: 2/2;
    grid-row: 2/2;
    z-index: 2;
  }

  header a {
    text-decoration: none;
    color: darkblue;
    font-weight: 700;
  }

  header a:hover {
    color: white;
    background-color: darkblue;
    box-shadow: 0 0 2em 2em darkblue;
    }

  .mainContent {
    display: grid;
    justify-items: center;
    grid-column: 2/2;
    grid-row: 3/3;
  }

  .langueFr img, 
  .langueEn img, 
  .langueEs img{
    width: 20px;  
  }

  footer {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    align-items: center;
    grid-column: 2/end;
    grid-row: 4/end;
  }

  footer a {
    text-decoration: none;
  }

  footer a:hover {
    opacity: 50%;
  }

  footer a img {
    width: 3em;
  }